<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nombre Pestaña</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Vista1.html">Nombre Pagina</a>
            </div>
            <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav">
                 <li>
                    <a><font size=2> Usuario no registrado</font> </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user"></i> Registrate </a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
             <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="Vista1.html"><i class="fa fa-fw fa-dashboard"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Estadisticas de oleaje</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-table"></i> Calendario</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-edit"></i> El Tiempo</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-desktop"></i> Fotos </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-wrench"></i> Glosario Tecnico</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#PlayasXRegion"><i class="fa fa-fw fa-arrows-v"></i> Playas por Region <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="PlayasXRegion" class="collapse">
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#Region"><i class="fa fa-fw fa-arrows-v"></i>Region 1<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="Region" class="collapse">
                                <li> <a href="#"> Playa 1</a></li>
                                <li> <a href="#"> Playa 2</a></li>
                            </li>
                            </ul>
                            <li>
                                <a href="#">Region 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                    <div align="center">
                     <IMG SRC="img/renaca1.jpg" WIDTH=600 HEIGHT=200 ALT="FotoRenacaCabecera">
                        <h1 class="page-header">
                            Reñaca 
                            <small>Viña del Mar</small>
                        </h1>
                        <IMG SRC="img/windGrenaca.png" WIDTH=800 HEIGHT=350  ALT="TableWindGuru">
                        
                        </div>
                        <h1 class="page-header">
                            Informacion Historica 
                            <small>Reñaca</small>
                        </h1><br>
                        <p>INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA INFO DE REÑACA </p>
                        <br><br><br>
                 <!-- GRAFICO Perfiles -->
                 <!-- /.row -->

                 <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Perfiles</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- FIN GRAFICO -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="Vista1.html">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Enlace2
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>
